.container {
  position: relative;
  max-width: 272px;
  height: 100%;
  margin: 0 auto;
  padding: 16px 8px 52px;
}

.no-scroll {
  overflow: hidden;
}

.background-modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;

  background: rgba(0, 0, 0, 0.25);
  padding: 64px 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.background-modal.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal {
  border-radius: 16px;
  width: 288px;
  background-color: #060307;
}

.modal-artist-full-info {
}

.modal-artist-info-img {
  width: 272px;
  height: 167px;
  object-fit: cover;
  object-position: center;
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 4px;
}

.modal-checkbox-icon {
  width: 100%;
  height: 100%;
}

.modal-close-icon {
  fill: white;
}

/* !TEXT */
.modal-artist-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
