body {
  color: #ffffff;
}

.container {
  position: relative;
  max-width: 272px;
  height: 100%;
  margin: 0 auto;
  padding: 16px 8px 52px;
}

.no-scroll {
  overflow: hidden;
}

.background-modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;

  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  padding: 64px 0 64px;
  /* height: 130dvh; */
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100dvh; */
  overflow-y: auto;
}

.background-modal.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal {
  border-radius: 16px;
  width: 288px;
  height: fit-content;
  background-color: #060307;
  display: flex;
  flex-direction: column;
  margin: 0 auto 52px;
}

.modal-artist-info-img {
  width: 100%;
  height: auto;
  max-width: 272px;
  max-height: 167px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
  margin-bottom: 32px;
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 8px;
  margin-left: auto;
}

.modal-checkbox-icon {
  width: 100%;
  height: 100%;
}

.modal-close-icon {
  fill: white;
}

/* !TEXT */
.modal-artist-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-info-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.modal-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.modal-info-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.modal-tag-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
  max-height: fit-content;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.modal-biography {
  margin-bottom: 16px;
}

/* !GALLERY */
.previous-content {
  display: none;
}
