.container {
  position: relative;
  max-width: 272px;
  height: 100%;
  margin: 0 auto;
  padding: 72px 16px 40px 16px;
}

.no-scroll {
  overflow: hidden;
}

.background-modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;

  background: rgba(0, 0, 0, 0.25);
  padding: 64px 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;
}

.background-modal.is-active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal {
  border-radius: 16px;
  padding: 52px 8px;
  width: 288px;
  background-color: #060307;
}

.modal-artist-full-info {
}

.modal-artist-info-img {
  width: 272px;
  height: 167px;
  object-fit: cover;
  object-position: center;
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  /* background-color: transparent; */
}

.modal-checkbox-icon {
  width: 100%;
  height: 100%;
}

/* .modal-checkbox-icon {
  color: red !important;
  fill: red !important;
  stroke: red !important;
}

.modal-close-btn {
  color: red !important;
  fill: red !important;
}

.modal-close-btn svg {
  fill: red !important;
  color: red !important;
} */
